/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 table{
	 width:68%;
	 border-spacing: 28px;
 }
 
 th {
	 text-align: left;
 }
 
a:visited {
  color: transparent;
}
/* line 28, C:/Users/ivan/Desktop/teste RubyRails/TesteAppRD_IvanAmorim/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: transparent;
  background-color: transparent;
}
 
 a{
	 color: #FFF !important;
 }
 
 a:link{
	height: 50px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0,0,0,.3) 0px solid;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    background: #90c843;
    color: #FFF;
    font-weight: bold;
    font-size: 9pt;
    transition: background .4s;
    cursor: pointer;
 }
 
  a:link :focus{
	  outline: none
	  
  }
  
  a:link{
	  text-decoration:none; 
  }
 
 
   a :hover{
	  outline: none
	  
  }
 
 
 
 
 
